<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAgPDqMEhMNaKGTBC4Ao6_Umi5neBwwYg</string>
	<key>GCM_SENDER_ID</key>
	<string>61819944702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foxys.game.filx</string>
	<key>PROJECT_ID</key>
	<string>crazytime-bbb9e</string>
	<key>STORAGE_BUCKET</key>
	<string>crazytime-bbb9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61819944702:ios:4fc933233ce7fafcab6faf</string>
</dict>
</plist>